<footer class="pt-5 pb-2 bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <h3 class="h5 mb-4 text-uppercase">Hotel Information</h3>
                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sit amet ligula vel diam congue semper.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus</p>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="h5 mb-4 text-uppercase">Contact Us</h3>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        info@yourcompany.com
                    </li>
                    <li class="mb-2">
                        (123) 456-7890
                    </li>
                    <li class="mb-2">
                        15465 Stick Street
                    </li>
                    <li>
                        San Francisco, USA
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="h5 mb-4 text-uppercase">Hotels Top</h3>
                <ul class="list-unstyled">
                    <li class="mb-2">
                        Hotels 5 stars
                    </li>
                    <li class="mb-2">
                        Hotels 4 stars
                    </li>
                    <li class="mb-2">
                        Hotels 3 stars
                    </li>
                    <li>
                        Hotels 2 stars
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-sm-6">
                <h3 class="h5 mb-4 text-uppercase">Stay in Touch !</h3>
                <p class="small mb-4">Follow US in our social networks! Lorem ipsum dolor sit amet, consectetur and go adipiscing elit.</p>
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-facebook text-primary fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-twitter text-info fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-youtube text-danger fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab text-danger fa-pinterest fa-2x"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#"><i class="fab fa-instagram text-light fa-2x"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center pt-3 border-top">
                <p>Application Django made whith <i class="fa fa-heart"></i> by Souleymane</p>
            </div>
        </div>
    </div>
</footer>