<header>
    <div class="navbar navbar-expand-lg">
        <div class="container">
            <a href="{% url 'hotel:home' %}" class="navbar-brand">HB</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                <span class="fa fa-bars text-light"></span>
            </button>
            <nav class="collapse navbar-collapse justify-content-end" id="myNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{% url 'hotel:home' %}" class="nav-link">Home</a>
                    </li>
                     <li class="nav-item">
                        <a href="{% url 'hotel:hotel-list' %}" class="nav-link">Hotels</a>
                    </li>
                     <li class="nav-item">
                        <a href="{% url 'agents:agent-list' %}" class="nav-link">Agents</a>
                    </li>
                     <li class="nav-item">
                        <a href="{% url 'pages:about' %}" class="nav-link">About</a>
                    </li>
                     <li class="nav-item">
                        <a href="{% url 'pages:send_mail' %}" class="nav-link">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>